#mapid {
	margin:1%;
	width: 30%;	
	height: 500px;
	float:left;
	border: 5px solid white;
	}

#search {
	width: 50%;
	float:left;
	}
#recent {
	width: 50%;
	float:left;
	}
#sunset, #weather{
	margin:1%;
	width: 30%;
	float:center;
	}

body {
  background-color: orange;
  margin:0px;
} 
